.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-gradient-dark);
    padding: 14px 56px;
    z-index: 1;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    color: var(--color-accent-red);
    height: 32px;
    width: 32px;
    margin-right: 6px;
}

.logo-text {
    color: var(--color-primary-light);
    font-weight: 500;
    font-size: 18px;
}

.logo-span {
    color: var(--color-accent-beige);
}

.cta {
    width: 84px;
    height: 32px;
    border: none;
    color: var(--color-primary-dark);
    cursor: pointer;
}

.cta:hover {
    opacity: 0.95;
}

.btn-sign-up {
    background: var(--color-accent-beige);
    border-radius: 25px 0 0 25px;
}

.btn-sign-in {
    background: var(--color-accent-red);
    border-radius: 0 25px 25px 0;
}

.bars {
    color: #EDE5D8;
    cursor: pointer;
    font-size: 28px;
    display: none;
}

aside {
    position: fixed;
    top: 250;
    right: 0;
    height: calc(100% - 60px);
    padding: 2rem;
    background-color: var(--color-primary-light);
    box-shadow: -2px 0px 25px rgba(0, 0, 0, 0.15);
}

.searchbar {
    background: #F7F9F4;
    box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    padding: 8px 18px;
    outline: none;
    border: none;
    color: var(--color-primary-dark);
    font-size: 12px;
}

.searchbar::placeholder {
    color: var(--color-primary-dark);
    font-size: 12px;
}

@media screen and (max-width: 820px) {
    .navbar {
        padding: 14px 42px;
    }
    .nav-btns {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .bars {
        display: block;
    }
}