.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--color-gradient-dark);
    padding: 14px 56px;
    z-index: 3;
}

.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo:hover, .logo:focus, .logo:visited, .logo:link, .logo:active  {
    text-decoration: none;
}

.logo-icon {
    color: var(--color-accent-red);
    height: 32px;
    width: 32px;
    margin-right: 6px;
}

.logo-text {
    color: var(--color-primary-light);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.logo-span {
    color: var(--color-accent-beige);
}

.cta {
    width: 82px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.btn-sign-in {
    background: transparent;
    color: var(--color-accent-red);
    border-radius: 20px 8px 20px 8px;
    border: 1px solid var(--color-accent-red);
    transition: all 0.19s;
}

.btn-sign-in:hover {
    background: linear-gradient(54deg, rgba(228,39,39,1) 0%, rgba(232,46,46,1) 100%);;
    color: #303133;
    border-radius: 15px 5px 15px 5px;
}

.sign-in-wrap {
    position: relative;
}

.sign-in-alert {
    position: absolute;
    width: 250px !important;
    height: 70px;
    background-color: var(--color-primary-light);
    border: 1px solid white;
    border-radius: 8px;
    right: 0;
    top: 42px;
    padding: 20px;

    -webkit-box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
}

.sign-in-alert p {
    margin-top: 8px;
}

.xmark-alert {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    color: #B3B8C1;
    font-size: 16px;
    border: 1px solid white;
}

.xmark-alert:hover {
    color: var(--color-accent-red);
}

.arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color-primary-light);
    z-index: 1;
    top: -3px;
    right: 32px;
    transform: rotate(45deg);
}

.user-container {
    position: relative;
}

.user-account-btn {
    height: 32px;
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    color: var(--color-accent-red);
    border: 1px solid var(--color-accent-red);
    background-color: transparent;
}

.user-account-btn:hover {
    opacity: 0.96;
}

.user-account-btn p {
    font-size: 12px;
}

.chevron-user {
    font-size: 12px;
}

.user-account-details {
    background-color: var(--color-primary-light);
    position: absolute;
    border-radius: 5px;
    right: 0;
    top: 40px;
    width: fit-content;
    padding: 16px;

    -webkit-box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 25px 5px rgba(0, 0, 0, 0.15);
}

.user-account-details > ul > li {
    color: var(--color-primary-dark);
    font-size: 14px;
    list-style: none;
    cursor: pointer;

    transition: all 0.2s ease;
}

.user-account-details > ul > li:nth-child(1) {
    border-bottom: 1px solid #dadada;
    padding-bottom: 8px;
}

.user-account-details > ul > li:nth-child(2) {
    padding-top: 8px;
}

.user-account-details > ul > li:hover {
    color: var(--color-accent-red);
    transform: translateX(3px);
}

.user-data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-primary-dark);
    margin-bottom: 22px;
}

.user-icon-big {
    font-size: 28px;
    margin-right: 12px;
}

.user-name {
    font-weight: 400;
}

.bars, .xmark {
    color: #EDE5D8;
    cursor: pointer;
    height: 28px;
    width: 26px;
    font-size: 28px;
    display: none;
}

.xmark {
    font-size: 32px;
}

.sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100% - 60px);
    padding: 2.5rem 2rem 2rem;
    background-color: var(--color-primary-light);
    box-shadow: -2px 0px 25px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.searchbar {
    background: #F7F9F4;
    border-radius: 25px;
    padding: 8px 18px;
    outline: none;
    border: none;
    color: var(--color-primary-dark);
    font-size: 12px;
    caret-color: var(--color-accent-red);
}

.searchbar-shadow-wrap {
    border-radius: 25px;
    -webkit-box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 2px 4px 25px 1px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 2px 4px 25px 1px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 2px 4px 25px 1px rgba(0, 0, 0, 0.12);
    box-shadow: 2px 4px 25px 1px rgba(0, 0, 0, 0.12);
}

.searchbar::placeholder {
    color: var(--color-primary-dark);
    font-size: 12px;
}

.icons-container {
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    color: var(--color-primary-dark);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.social-icon:hover {
    color: var(--color-accent-red);
    -webkit-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.12);
}

.sidebar-mobile.hidden {
    right: -100%;
}

@media screen and (min-width: 821px) {
    .sidebar-mobile.hidden {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .navbar {
        padding: 14px 42px;
    }
    .nav-btns {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .sidebar {
        display: none;
    }

    .sidebar-mobile {
        position: fixed;
        top: 52px;
        right: 0;
        height: calc(100% - 52px);
        padding: 2.5rem 2rem 2rem;
        background-color: var(--color-primary-light);
        box-shadow: -2px 0px 25px rgba(0, 0, 0, 0.15);
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    .bars, .xmark {
        display: block;
    }
}

@media screen and (max-width: 580px) {
    .sign-in-alert {
        top: 37px;
    }
}