@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
   --color-primary-dark: #393D50;
   --color-primary-light: #F7F9F4;
   --color-accent-beige: #EDE5D8;
   --color-accent-red: #F56457; 
   --color-details-gray: #727584;
   --color-details-blue: #556198;
   --color-gradient-dark: linear-gradient(90.15deg, #393D50 13.49%, #2E334B 81.89%);
}

h1, h2, h3 {
    font-weight: 400;
    color: var(--color-primary-dark);
}

p {
    font-size: 14px;
    font-weight: 400;
}

main {
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: auto;
}

.red {
    color: var(--color-accent-red);
}

@media screen and (max-width: 580px) {
    .navbar {
        padding: 12px 36px !important;
    }
    .logo-icon {
        height: 28px !important;
        width: 28px !important;
        margin-right: 5px !important;
    }
    .logo-text {
        font-size: 16px !important;
    }
    .nav-btns {
        gap: 12px !important;
    }
    .cta {
        height: 28px !important;
        width: 70px !important;
        font-size: 12px !important;
    }
    .offers-heading {
        font-size: 32px !important;
    }
    .offer-heading {
        font-size: 14px !important;
    }
    .company-name, .salary, .level {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 370px) {
    .navbar {
        padding: 12px 28px !important;
    } 
}
